<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration2</title>
    <link th:href="@{/css/registration2.css}" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <meta th:name="_csrf_name" th:content="${_csrf.parameterName}">
    <meta th:name="_csrf_value" th:content="${_csrf.token}">
    <!--    // кросс доменный запрос-->
</head>
<body>
<div class="form">
    <form id="contactform">
        <p class="contact">
            <label for="name">Name</label>
        </p>
        <input id="name" name="name" placeholder="First name" required="" tabindex="1" type="text">
        <p class="contact">
            <label for="surname">Surname</label>
        </p>
        <input id="surname" name="surname" placeholder="Second name" required="" tabindex="2" type="text">
        <p class="contact">
            <label for="email">Email</label>
        </p>
        <input id="email" name="email" placeholder="example@domain.com" required="" type="email">
        <p class="contact">
            <label for="username">Create a username</label>
        </p>
        <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text">
        <p class="contact">
            <label for="password">Create password</label>
        </p>
        <input type="password" id="password" name="password" required="">
        <p class="contact">
            <label for="repassword">Confirm password</label>
        </p>
        <input type="password" id="repassword" name="password" required="">
        <fieldset>
            <label>Date of Birth</label>
            <label class="month">
                <select class="select-style" name="BirthMonth">
                    <option value="">Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </label>
            <label>Day
                <input class="birthday" maxlength="2" name="BirthDay" placeholder="Day" required="">
            </label>
            <label>Year
                <input class="birthyear" maxlength="4" name="BirthYear" placeholder="Year" required="">
            </label>
        </fieldset>
        <label>Gender</label>
        <select class="select-style gender" name="gender">
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="others">Other</option>
        </select>
        <br>
        <br>
        <p class="contact">
            <label for="phone">Mobile phone</label>
        </p>
        <input id="phone" name="phone" placeholder="phone number" required="" type="text">
        <br>
        <input class="buttom" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit">
    </form>
</div>
</body>
</html>